<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>sendEmail</servlet-name>
		<servlet-class>blog.SendEmailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sendEmail</servlet-name>
		<url-pattern>/send_email</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>unsubscribe</servlet-name>
		<servlet-class>blog.UnsubscribeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>unsubscribe</servlet-name>
		<url-pattern>/unsubscribe</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>newPost</servlet-name>
		<servlet-class>blog.NewPostServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>newPost</servlet-name>
		<url-pattern>/new_post</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>blog.jsp</welcome-file>
	</welcome-file-list>

	<!--  limit access to sending email -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>send_email</web-resource-name>
			<url-pattern>/send_email</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
